autopep8==1.4.4
django-bootstrap4
celery==4.3.0
coverage==4.5.4
crypto==1.4.1
cryptography==2.8
decorator==4.4.1
Django==3.0.6
django-celery-results==2.4.0
django-simple-gravatar==1.0.1
djangorestframework==3.10.3
djangorestframework-jwt==1.11.0
Faker==0.9.1
future==0.18.2
ipdb==0.12.2
ipython==7.9.0
ipython-genutils==0.2.0
lazy-object-proxy==1.4.3
mixer==6.1.3
psycopg2==2.8.4
pylint==2.4.3
pyodbc==4.0.27
pytest==5.2.2
pytest-cov==2.8.1
pytest-django==3.7.0
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
six==1.13.0
