asgiref==3.2.7
beautifulsoup4==4.9.1
certifi==2020.4.5.1
chardet==3.0.4
confusable-homoglyphs==3.2.0
Django==2.1.15
django-bootstrap4==1.1.1
django-registration==2.5.1
idna==2.9
pytz==2020.1
requests==2.23.0
soupsieve==2.0.1
sqlparse==0.3.1
urllib3==1.25.9
